<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labelthediagram"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_2_small"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.buildmlearn.labeldiagram.SplashScreen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.MainMenu"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramCategory"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramCategoryViewer"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.badges.BadgesViewer"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.Settings"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.HelpMenu"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlay"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramResult"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.buildmlearn.labeldiagram.tooltipkit.PopupActivity" >
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayBase"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayHumanEye"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuHuman"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuHuman" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayHumanHeart"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuHuman"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuHuman" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayHumanEar"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuHuman"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuHuman" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayPlantCell"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuPlants"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuPlants" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayPlantFlower"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuPlants"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuPlants" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayBacteria"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuMicroogranisms"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuMicroogranisms" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayVirus"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuMicroogranisms"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuMicroogranisms" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayWaterCycle"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuNaturalCycles"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuNaturalCycles" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayCarbonCycle"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuNaturalCycles"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuNaturalCycles" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayPrism"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuOptics"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuOptics" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayLens"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuOptics"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuOptics" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlaySpectrum"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuOptics"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuOptics" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayMotor"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuElectricity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuElectricity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayDryCell"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuElectricity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuElectricity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayCircuit"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuElectricity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuElectricity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlaySolarSystem"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuSky"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuSky" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramPlayStarPatterns"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramMenuSky"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramMenuSky" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonHumanEar"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonHumanEye"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonHumanHeart"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonPlantCell"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonPlantFlower"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonBacteria"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonVirus"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonPrism"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonLens"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonSpectrum"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonMotor"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonDryCell"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonCircuit"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonSolarSystem"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonStarPatterns"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonWaterCycle"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.lessons.LessonCarbonCycle"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.lessons.LessonCategoryViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuHuman"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuPlants"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuMicroogranisms"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuNaturalCycles"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuOptics"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuElectricity"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.DiagramMenuSky"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:parentActivityName="com.buildmlearn.labeldiagram.DiagramCategory"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.DiagramCategory" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.ScoreboardViewer"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.MainMenuGrid"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.MainMenuGrid" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.ScoreboardResult"
            android:configChanges="orientation"
            android:parentActivityName="com.buildmlearn.labeldiagram.ScoreboardViewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildmlearn.labeldiagram.ScoreboardViewer" >
            </meta-data>
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.badges.BadgePopUpWindow"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DialogNoTitleBar" >
        </activity>
        <activity
            android:name="com.buildmlearn.labeldiagram.widget.MessagePopupWindow"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DialogWithDimmedBack" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="37b3161e48423b96715470d17f0ac8dad7799436" />
    </application>

</manifest>